._1OkGIOw {
    overflow: hidden
}

._3emZoi0 {
    position: relative;
    height: 245px
}

@media only screen and (min-width:1024px) {
    ._3emZoi0 {
        height: 160px
    }
}

._1T1d2yL {
    width: 100%;
    height: 100%;
    overflow: hidden
}

._1OkGIOw ._3lxeV1K {
    max-width: 100%;
    height: calc(100% + 40px);
    overflow: scroll;
    transform: none!important
}

._3lxeV1K {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    transition: transform .2s cubic-bezier(.2, 0, .4, 1)
}

._3xH8Y_Z {
    flex-shrink: 0;
    padding: 0 8px;
    box-shadow: 20px 0 0 0 #fff
}

@media only screen and (min-width:1024px) {
    ._3xH8Y_Z {
        height: 160px;
        padding: 0 4px
    }
}

._2VGNHVX {
    position: relative;
    height: 100%;
    overflow: hidden
}

._3xH8Y_Z figure,
._3xH8Y_Z img {
    display: block;
    height: 245px
}

@media only screen and (min-width:1024px) {
    ._3xH8Y_Z figure,
    ._3xH8Y_Z img {
        height: 160px
    }
}

._1OkGIOw ._2s7ajlP {
    display: none
}

._2pX3F1D {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: calc(100vw - 40px);
    transform: translateX(-50%)
}

._2s7ajlP {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: scale(1);
    transition: transform .2s cubic-bezier(.2, 0, .4, 1), opacity .2s cubic-bezier(.2, 0, .4, 1);
    border: 1px solid #ebebeb;
    border-radius: 50%;
    opacity: 0;
    background-color: #fff;
    color: #212121;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._2s7ajlP .Il4JyZ2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #222;
    font-size: 14px;
    letter-spacing: .2px
}

._3emZoi0:hover ._2s7ajlP {
    opacity: 1
}

._2s7ajlP:hover {
    transform: scale(1.1)
}

._2s7ajlP:active {
    transform: scale(.9)
}

._2n18S-E {
    transform: scale(0)!important
}

.QXBu7G4 {
    right: -20px
}

._2qQbkE3,
.QXBu7G4 {
    top: calc(50% - 20px)
}

._2qQbkE3 {
    left: -20px
}

._2qQbkE3>svg {
    transform: rotate(180deg)
}

._1lPhNKG {
    top: calc(50% - 20px);
    right: -20px;
    transform: scale(1);
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    font-size: 20px
}

._3x_NvYv {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 8px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    pointer-events: none
}

@media only screen and (min-width:768px) {
    ._3x_NvYv {
        padding: 16px
    }
}

._3x_NvYv:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    box-shadow: 0 0 10px 2px #000
}

._3x_NvYv svg {
    position: relative;
    z-index: 1
}

._37EzC4d {
    display: flex;
    position: relative;
    flex-direction: column
}

._5Fv_OxY {
    flex-basis: 100%;
    width: 100%;
    margin-top: 16px;
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    opacity: 1
}

@media only screen and (min-width:768px) {
    ._5Fv_OxY {
        margin-top: 0
    }
}

._2LXK_ZS {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 21px
}

._26zU7eR {
    flex-grow: 1;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase
}

._17rAefA {
    flex-shrink: 0;
    color: #999;
    font-size: 10px
}

._1fZ7jMv {
    height: 120px;
    margin: 0 -16px;
    overflow: hidden
}

._3Ck_nQN {
    display: flex;
    flex-direction: row;
    height: 160px;
    padding: 0 0 40px;
    overflow-x: scroll;
    overflow-y: hidden
}

.fPH_goU {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 4px
}

.fPH_goU:first-of-type {
    padding-left: 16px
}

.fPH_goU:last-of-type {
    padding-right: 16px
}

._2---46f {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    transform: translateZ(0);
    background-color: #e6e6e6
}

._2---46f figure,
._2---46f img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    -o-object-fit: cover;
    object-fit: cover
}

._38DSJkF {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, transparent, #000)
}

._7tz_ACD {
    position: absolute;
    z-index: 2;
    right: 16px;
    bottom: 11px;
    left: 16px;
    color: #fff
}

.pogDm8q {
    display: block;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 1;
    display: -webkit-box;
    max-height: 28px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

._1bNZdtI {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px
}

._1gH8ms7 {
    position: relative
}

._1De02fM {
    height: 120px;
    margin: 0 -16px;
    overflow: hidden
}

@media only screen and (min-width:768px) {
    ._1De02fM {
        height: 160px;
        margin: 0 -24px
    }
}

@media only screen and (min-width:1024px) {
    ._1De02fM {
        height: 308px;
        margin: 0
    }
}

._2Hl9Gb2 {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    max-width: 100%;
    height: calc(100% + 40px);
    overflow: scroll
}

._1xTRSNF {
    position: relative;
    flex-shrink: 0;
    height: calc(100% - 40px)
}

._1xTRSNF:first-of-type {
    padding-left: 16px
}

@media only screen and (min-width:768px) {
    ._1xTRSNF:first-of-type {
        padding-left: 24px
    }
}

@media only screen and (min-width:1024px) {
    ._1xTRSNF:first-of-type {
        padding-left: 0
    }
}

._1xTRSNF:last-of-type {
    padding-right: 16px
}

@media only screen and (min-width:768px) {
    ._1xTRSNF:last-of-type {
        padding-right: 24px
    }
}

@media only screen and (min-width:1024px) {
    ._1xTRSNF:last-of-type {
        padding-right: 0
    }
}

._FC8rKg {
    display: block
}

._FC8rKg,
._FC8rKg:not(._1aD2_ov):not(svg) {
    height: 100%
}

._1HztYtL {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    width: 120px
}

@media only screen and (min-width:768px) {
    ._1HztYtL {
        width: 160px
    }
}

@media only screen and (min-width:1024px) {
    ._1HztYtL {
        width: 308px
    }
}

._3js2zla {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    font-weight: 400
}

@media only screen and (min-width:768px) {
    ._3js2zla {
        font-size: 16px
    }
}

@media only screen and (min-width:1024px) {
    ._3js2zla {
        font-size: 20px
    }
}

._1aD2_ov {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 8px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    pointer-events: none
}

@media only screen and (min-width:768px) {
    ._1aD2_ov {
        padding: 16px
    }
}

._1xTRSNF:last-of-type ._1aD2_ov {
    right: 16px
}

@media only screen and (min-width:768px) {
    ._1xTRSNF:last-of-type ._1aD2_ov {
        right: 0
    }
}

._1aD2_ov:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    box-shadow: 0 0 10px 2px #000
}

._1aD2_ov svg {
    position: relative;
    z-index: 1
}

._1xTRSNF:hover ._1aD2_ov:before {
    transform: translateY(calc(-100% + 40px))
}

._3qlpMK5 {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0
}

._2M_jUsH {
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center
}

@media only screen and (min-width:1024px) {
    ._2M_jUsH {
        font-size: 16px
    }
}

._2M_jUsH:not(:disabled) {
    cursor: pointer
}

._2M_jUsH+._2M_jUsH {
    margin-left: 6px
}

._2ztBuKx {
    height: 1px;
    background-color: #ebebeb
}

._2ztBuKx>div {
    height: 100%;
    transform: scaleX(0);
    transform-origin: center left;
    background-color: #212121
}

._57LPq6v {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr)
}

._2Iup7G8 {
    position: relative;
    background-color: #ebebeb
}

._2Iup7G8:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%
}

._2Iup7G8 img {
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

._2Iup7G8 img,
._3PMEFfI {
    position: absolute;
    top: 0;
    left: 0
}

._3PMEFfI {
    z-index: 2;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.6px;
    text-transform: uppercase
}

._3PMEFfI,
.DRCDcPh {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.DRCDcPh {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .25);
    font-size: 18px;
    pointer-events: none
}

.DRCDcPh svg {
    position: relative;
    z-index: 1
}

.DRCDcPh:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 300%;
    transform: translateY(0);
    transition: transform .2s cubic-bezier(.2, 0, .4, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, .25) 33.33%, rgba(0, 0, 0, .8) 66.66%, rgba(0, 0, 0, .8));
    pointer-events: none
}

._2Iup7G8:hover .DRCDcPh:before {
    transform: translateY(calc(-100% + 60px))
}

._1pAhTQF {
    max-width: 100%;
    overflow: hidden;
    transform: translateZ(0);
    background-color: #2a2a2a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

._1pAhTQF,
._1pAhTQF:before {
    display: block;
    position: relative;
    width: 100%
}

._1pAhTQF:before {
    content: "";
    padding-bottom: 100%
}

._3jXrD1w {
    background-color: #d8d8d8;
    color: #444
}

._1Ux_E-X,
._2DODwSJ,
._2EBMcs5 {
    border-radius: 50%
}

._2_P9EiQ {
    border-radius: 2px
}

._1pAhTQF img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

._2UxcefO {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}