._2kf_g9h {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 34px
}

._2kf_g9h:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 10px;
    transform: translateX(-50%);
    border-top: 1px solid #f2f2f2;
    background-color: #fafafa
}

@media only screen and (min-width:1024px) {
    ._2kf_g9h:after {
        display: none
    }
}

.clQOxP0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media only screen and (min-width:1024px) {
    .clQOxP0 {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start
    }
}

._3d-tMQP {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: 32px;
    margin-bottom: 4px;
    overflow: hidden;
    transform: translateZ(0);
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

@media only screen and (min-width:1024px) {
    ._3d-tMQP {
        margin-top: 0;
        margin-right: 16px;
        margin-bottom: 0;
        border: 0
    }
}

._3cvMq1f ._3d-tMQP {
    margin-top: -40px
}

@media only screen and (min-width:1024px) {
    ._3cvMq1f ._3d-tMQP {
        margin-top: 0
    }
}

._3d-tMQP img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.VVfpWLO {
    display: inline-block;
    position: absolute;
    z-index: 10;
    transform: translateY(4px)
}

@media only screen and (min-width:1024px) {
    .VVfpWLO {
        display: none
    }
}

._3ivo-6V {
    display: none
}

@media only screen and (min-width:1024px) {
    ._3ivo-6V {
        display: block;
        top: auto;
        right: auto;
        margin-left: auto
    }
}

._3foVPaL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

@media only screen and (min-width:1024px) {
    ._3foVPaL {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left
    }
}

._1iEvp1e {
    margin: 0 16px
}

@media only screen and (min-width:1024px) {
    ._1iEvp1e {
        margin: 0
    }
}

.Lps1doV {
    display: inline-block;
    margin: 0;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67
}

._3BQKLOH {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px
}

@media only screen and (min-width:1024px) {
    ._3BQKLOH {
        justify-content: flex-start
    }
}

._347q6Mw {
    transition: color .2s cubic-bezier(.2, 0, .4, 1);
    color: #333;
    font-size: 16px
}

._347q6Mw+._347q6Mw {
    margin-left: 16px
}

._347q6Mw:hover {
    color: #000
}

._3lC8BBE {
    margin-bottom: 16px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    max-height: 40px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

@media only screen and (min-width:1024px) {
    ._3lC8BBE {
        display: none
    }
}

.If21Knv {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 72px;
    right: 16px;
    padding: 8px 16px;
    transition: color .2s cubic-bezier(.2, 0, .4, 1);
    border: 1px solid #fff;
    border-radius: 1px;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media only screen and (min-width:1024px) {
    .If21Knv {
        display: none
    }
}

.If21Knv:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    border: 1px solid #f2f2f2;
    opacity: 1;
    background-color: #fff
}

._3cvMq1f .If21Knv:before {
    border: 0
}

._2m0YQl7 {
    color: silver
}

._3cvMq1f ._2m0YQl7 {
    color: #fff
}

._2m0YQl7:before {
    opacity: 0
}

._49nZQoh {
    display: block;
    position: relative;
    z-index: 1;
    min-width: 4.5em;
    font-size: 12px
}

._2YGNrZi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}

@media only screen and (min-width:1024px) {
    ._2YGNrZi {
        margin-bottom: 6px
    }
}

._2YGNrZi>span+span:before {
    content: "|";
    display: inline-block;
    margin: 0 5px;
    color: #666;
    font-size: 12px
}

._1P9spY- {
    flex-direction: row;
    color: #666
}

._1P9spY-,
._26wyYrV {
    display: flex;
    align-items: center;
    justify-content: center
}

._26wyYrV {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: currentColor;
    font-size: 6px
}

._2S_SuXe {
    margin-left: 3px;
    font-size: 12px
}

._3qlIsKP {
    display: none;
    margin-top: 36px;
    color: #333;
    font-size: 16px;
    line-height: 28px
}

@media only screen and (min-width:1024px) {
    ._3qlIsKP {
        display: block
    }
}

._3CZFdL5 {
    margin-bottom: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

._1XpS4Ie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -5px 0;
    padding: 5px 16px;
    border: 0;
    background: transparent;
    color: #1f5c99;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media only screen and (min-width:1024px) {
    ._1XpS4Ie {
        display: none
    }
}

.-XX9hx1 {
    margin-left: 8px;
    font-size: 8px
}

.-XX9hx1 svg {
    transform: rotate(90deg)
}

._6huom_Y {
    white-space: pre-line
}

._3LoCIcU {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    flex-direction: column
}

._1eAzdOX {
    width: 100%;
    margin-bottom: 24px
}

._2C36bJ1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border: 1px solid #f5f5f5
}

._3ffxstI {
    margin: 0 0 24px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

._27YYDnY {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none
}

._2iMxTzO {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 8px;
    border: 1px solid #f2f2f2;
    border-radius: 1px;
    background-color: #fafafa;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px
}

._2Hn7kLg {
    width: 100%;
    margin: 24px 0;
    border: 0;
    border-top: 1px solid #f5f5f5
}

._3s6a4iu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 16px
}

._3G2jWki {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase
}

._2ukywRR {
    display: block;
    color: #666;
    font-size: 13px;
    line-height: 18px
}

.AQIpKrF {
    margin-bottom: 24px
}

._21wCwUp {
    margin: 0 0 24px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

._2MkF-0a {
    margin: 0 0 16px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line
}

.Txtvs8d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 16px
}

._249uRp5 {
    flex-basis: 33.33%;
    flex-shrink: 0;
    width: 33.33%
}

._2TsT5jq {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase
}

._1TAE7as {
    color: #666;
    line-height: 18px
}

._1TAE7as,
.VstFhy0 {
    display: block;
    font-size: 13px
}

.VstFhy0 {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    border-radius: 1px;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.VstFhy0:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    opacity: 0;
    background-color: #fafafa;
    pointer-events: none
}

._7U9CYvb {
    position: relative;
    z-index: 1
}

.VstFhy0:hover:before {
    opacity: 1
}

._1U_1gph {
    width: 100%;
    margin: 24px 0;
    border: 0;
    border-top: 1px solid #f5f5f5
}

.CTd4mSV {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none
}

._2zUBAFQ {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 8px;
    border: 1px solid #f2f2f2;
    border-radius: 1px;
    background-color: #fafafa;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px
}

.Zqv09IQ {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 16px
}

._3kPaoO_ {
    transition: color .2s cubic-bezier(.2, 0, .4, 1);
    color: #333;
    font-size: 16px
}

._3kPaoO_+._3kPaoO_ {
    margin-left: 16px
}

._3kPaoO_:hover {
    color: #000
}

._21wCwUp+.ASgHFGO {
    margin-top: -6px
}

.ASgHFGO {
    display: flex;
    flex-direction: column;
    margin: 0 0 8px;
    padding: 0;
    list-style-type: none
}

._1eOQmbt,
._2JHhnow,
.ASgHFGO {
    width: 100%
}

._2JHhnow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    overflow: hidden;
    color: #1f5c99
}

._2JZ3T93 {
    flex-grow: 0;
    width: 10px;
    margin-right: 8px;
    font-size: 10px
}

.gn4a8gR {
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px
}

._2SX2H33 {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: box-shadow .2s cubic-bezier(.2, 0, .4, 1);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1)
}

._2SX2H33:hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1)
}

._1D4clCS {
    position: relative;
    width: 100%;
    padding-top: 70%;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: #525252
}

._20WYp_L {
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    transition-delay: .1s;
    opacity: 0
}

._1BWdTsg {
    transition-delay: 0s;
    opacity: 1
}

._2f_DVjJ {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

._3-hOUSK {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px
}

._2rNqAFd {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    margin-right: 15px
}

._2rNqAFd:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._2bpf3hC {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    color: #202125
}

._3QCqA5H {
    width: 100%;
    font-size: 14px;
    font-weight: 600
}

._3QBGLG7,
._3QCqA5H {
    display: block;
    height: 1em;
    overflow: hidden;
    line-height: 1
}

._3QBGLG7 {
    margin-top: 3px;
    opacity: .6;
    font-size: 12px
}

._1xyByQ6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30px;
    margin-left: auto
}

._3Ztgnib {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: auto;
    color: #202125;
    font-size: 12px
}

._3Ztgnib svg {
    display: block
}

._2Rm9PTh,
.zK0rYut {
    margin-left: 4px
}

._2Rm9PTh {
    opacity: .6
}

._1jkla9A {
    position: relative;
    z-index: 20;
    flex-shrink: 0;
    margin-bottom: auto;
    margin-left: auto;
    color: #ff4848;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap
}

.FeVO4Gr {
    display: flex;
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 16px
}

._3Ad0gKv {
    position: relative;
    width: 12px;
    height: 12px;
    padding: 0;
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    border: 0;
    opacity: .4;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.itx49Kf {
    opacity: 1
}

._3Ad0gKv:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer
}

.Qphi1YO {
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1);
    opacity: 0;
    pointer-events: none
}

._2SX2H33:hover .Qphi1YO {
    opacity: 1;
    pointer-events: all
}

._1_49BtK {
    display: flex;
    z-index: 20;
    align-items: center;
    justify-content: center;
    width: 34px;
    padding: 0;
    border: 0;
    border-radius: 0;
    opacity: 1;
    background-color: transparent;
    color: #fff;
    cursor: pointer
}

._1_49BtK,
._1_49BtK:before {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: opacity .2s cubic-bezier(.2, 0, .4, 1)
}

._1_49BtK:before {
    content: "";
    z-index: 1;
    right: 0;
    left: 0;
    opacity: .3;
    background-color: #000
}

._1_49BtK:hover:before {
    opacity: .6
}

._1_49BtK[disabled] {
    opacity: .5;
    pointer-events: none
}

._1_49BtK svg {
    position: relative;
    z-index: 2
}

._1ZiWkhA {
    left: 0
}

._1ZiWkhA svg {
    transform: rotate(-180deg)
}

._1JVyF56 {
    right: 0
}

._2WyDAZ3 {
    display: flex;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 50px
}

.tmw912P {
    width: 100%;
    min-height: calc(100vh - 56px);
    background-color: #fff
}

._1ZPrZct {
    max-width: 1280px;
    margin-right: 16px;
    margin-left: 16px;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 40px
}

@media only screen and (min-width:768px) {
    ._1ZPrZct {
        margin-right: 24px;
        margin-left: 24px
    }
}

@media only screen and (min-width:1328px) {
    ._1ZPrZct {
        margin-right: auto;
        margin-left: auto
    }
}

@media only screen and (min-width:1024px) {
    ._1ZPrZct {
        grid-template-columns: repeat(12, 1fr);
        padding-top: 40px
    }
}

._2NfTtK0 {
    grid-column: 1/-1;
    min-width: 0;
    max-width: 100%
}

@media only screen and (min-width:1024px) {
    ._2NfTtK0 {
        grid-column: 1/10
    }
}

._3pRXama {
    display: none;
    grid-column: 10/13
}

@media only screen and (min-width:1024px) {
    ._3pRXama {
        display: block
    }
}

._34txBZ4 {
    display: block;
    position: relative;
    margin-bottom: 24px;
    padding-bottom: 34px
}

@media only screen and (min-width:1024px) {
    ._34txBZ4 {
        margin-bottom: 70px;
        padding-bottom: 0
    }
}

._34txBZ4:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 10px;
    transform: translateX(-50%);
    border-top: 1px solid #f2f2f2;
    background-color: #fafafa
}

@media only screen and (min-width:1024px) {
    ._34txBZ4:after {
        display: none
    }
}

@media only screen and (min-width:1024px) {
    ._34txBZ4:last-of-type {
        min-height: 60vh
    }
}

.TQMULS1 {
    margin: 0 0 24px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.B-i7XA4 {
    display: block
}

@media only screen and (min-width:1024px) {
    .B-i7XA4 {
        padding-bottom: 25px;
        border-bottom: 1px solid #f2f2f2
    }
}

.B-i7XA4+.B-i7XA4 {
    margin-top: 42px
}

@media only screen and (min-width:1024px) {
    .B-i7XA4+.B-i7XA4 {
        margin-top: 25px
    }
}

.BPpa_cC {
    margin: 0 0 24px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

._38i1oDg {
    display: block;
    padding: 24px 0;
    border-bottom: 1px solid #f2f2f2
}

@media only screen and (min-width:768px) {
    ._38i1oDg {
        padding: 24px 4px
    }
}

._2xRBbAl {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;
    list-style-type: none
}

@media only screen and (min-width:768px) {
    ._2xRBbAl {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media only screen and (min-width:1024px) {
    ._2xRBbAl {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media only screen and (min-width:1024px) {
    ._3_XR9YK {
        display: none
    }
}

.rOvA69e {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    background-color: #fff
}

@media only screen and (min-width:1024px) {
    .rOvA69e {
        display: none
    }
}